<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Article</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid}">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && articleForm.title.$invalid" class="help-block">
						<p ng-show="articleForm.title.$error.required" class="text-danger">Title is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
						<p ng-show="articleForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.type.$invalid}">
					<label class="control-label" for="type">Type</label>
					<div class="controls">
						<input name="type" type="text" data-ng-model="article.type" id="type" class="form-control" placeholder="Type" required>
						<input type="radio" data-ng-model="article.type" value="audio/aac" id="mt-audio-aac"><label for="mt-audio-aac" required>audio/aac</label>
						<input type="radio" data-ng-model="article.type" value="audio/ogg" id="mt-audio-ogg"><label for="mt-audio-ogg" required>audio/ogg</label>
						<input type="radio" data-ng-model="article.type" value="audio/mpeg" id="mt-audio-mpeg"><label for="mt-audio-mpeg" required>audio/mpeg</label>
						<input type="radio" data-ng-model="article.type" value="audio/mp4" id="mt-audio-mp4"><label for="mt-audio-mp4" required>audio/mp4</label>
						<input type="radio" data-ng-model="article.type" value="audio/wav" id="mt-audio-wav"><label for="mt-audio-wav" required>audio/wav</label>
						<input type="radio" data-ng-model="article.type" value="audio/webm" id="mt-audio-webm"><label for="mt-audio-webm" required>audio/webm</label>
						<input type="radio" data-ng-model="article.type" value="audio/flac" id="mt-audio-flac"><label for="mt-audio-flac" required>audio/flac</label>
						<input type="radio" data-ng-model="article.type" value="audio/flv" id="mt-audio-flv"><label for="mt-audio-flv" required>audio/flv</label>
						<input type="radio" data-ng-model="article.type" value="audio/wma" id="mt-audio-wma"><label for="mt-audio-wma" required>audio/wma</label>
						<input type="radio" data-ng-model="article.type" value="video/rtmp" id="mt-rtmp"><label for="mt-rtmp" required>RTMP</label>
						<input type="radio" data-ng-model="article.type" value="application/x-mpegURL" id="mt-application-x-mpegURL" required><label for="mt-application-x-mpegURL">HLS&M3U8</label>
					</div>
					<div ng-show="submitted && articleForm.type.$invalid" class="help-block">
						<p ng-show="articleForm.type.$error.required" class="text-danger">Type is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>